
@{
    ViewBag.Title = "Forgot Password";
}
<link rel="stylesheet" type="text/css" href="~/Content/SRDetails.css">
<style>
    forgot {
        background-color: #fff;
        padding: 12px;
        border: 1px solid #dfdfdf
    }

    .padding-bottom-3x {
        padding-bottom: 72px !important
    }

    .card-footer {
        background-color: #fff
    }

    .btn {
        font-size: 13px
    }

    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #76b7e9;
        outline: 0;
        box-shadow: 0 0 0 0px #28a745
    }
</style>
<div class="alert alert-@ViewBag.MessageType" role="alert">
    @ViewBag.Message
    <div class="float-end">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
<div class="container-fluid px-5 py-5">
    <div class="card">
        <div class="card-body">

            <div class="container padding-bottom-3x mb-2 mt-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <div class="forgot">
                            <h2>Forgot your password?</h2>
                            <p>Change your password in three easy steps. This will help you to secure your password!</p>
                            <ol class="list-unstyled">
                                <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
                                <li><span class="text-primary text-medium">2. </span>Our system will send you a temporary link</li>
                                <li><span class="text-primary text-medium">3. </span>Use the link to reset your password</li>
                            </ol>
                        </div>
                        <form class="card mt-4" action="/Admin/ForgotPassword" method="post">
                            @Html.AntiForgeryToken()
                            <div class="card-body">
                                <div class="form-group"> <label for="email-for-pass">Enter your email address</label> <input class="form-control" type="text" id="email-for-pass" name="emailID" required><small class="form-text text-muted">Enter the email address you used during the registration on BBBootstrap.com. Then we'll email a link to this address.</small> </div>
                            </div>
                            <div class="card-footer"> <button class="btn btn-success" type="submit">Get New Password</button> <a class="btn btn-danger" href="/Admin/AdminLogin">Back to Login</a> </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.6.0.min.js"></script>