
@{
    ViewBag.Title = "Reset Password";
}
<link rel="stylesheet" type="text/css" href="~/Content/SRDetails.css">
<div class="alert alert-@ViewBag.resetMsgType" role="alert">
    @ViewBag.resetMsg
    <div class="float-end">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
<div class="container-fluid px-5 py-5">
    <div class="card">
        <div class="card-body">
            <legend>Reset Password</legend>
            <hr />
            <form action="/Admin/ResetPassword" method="post" id="resetForm" class="row g-4">
                @Html.AntiForgeryToken()
                <div class="row g-3">
                    <div class="col-md-4">
                        <label class="form-label">Old Password</label>
                        <input type="password" id="oldPassword" name="oldPassword" placeholder="Enter old password" class="form-control" required />
                        <div id="oldPassMsg"><span class="text-sm text-danger">Old Password cannot be empty</span></div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">New Password</label>
                        <input type="password" id="newPassword" name="newPassword" placeholder="Enter new password" class="form-control" required />
                        <div id="newPassMsg"><span class="text-sm text-danger">New Password cannot be empty</span></div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Confirm New Password</label>
                        <input type="password" id="confirmNewPassword" name="confirmNewPassword" placeholder="Re-enter new password" class="form-control" required />
                        <div id="errorMsg"><span class="text-sm text-danger">New password and confirm password are not same</span></div>
                        <div id="confirmNewPassMsg"><span class="text-sm text-danger">Confirm New Password cannot be empty</span></div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-12">
                        <a role="button" class="btn btn-primary" onclick="javascript: window.history.back();">Back</a>
                        <button type="button" class="btn btn-success" id="resetBtn">Reset Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#errorMsg").hide();
        $("#oldPassMsg").hide();
        $("#newPassMsg").hide();
        $("#confirmNewPassMsg").hide();
    });
    $("#resetBtn").click(function () {
        if ($("#oldPassword").val() == "") {
            $("#oldPassMsg").show();
        }
        else {
            $("#oldPassMsg").hide();
        }
        if ($("#newPassword").val() == "") {
            $("#newPassMsg").show();
        }
        else {
            $("#newPassMsg").hide();
        }
        if ($("#confirmNewPassword").val() == "") {
            $("#confirmNewPassMsg").show();
        }
        else {
            $("#confirmNewPassMsg").hide();
        }
        if (($("#newPassword").val() == $("#confirmNewPassword").val()) && ($("#newPassword").val() != "")) {

            $("#resetForm").submit();
        }
        else {
            $("#errorMsg").show();
        }
    });
</script>
<script src="~/Scripts/jquery-3.6.0.min.js"></script>