fieldset {
    border-radius: 12pt;
}

    fieldset.scheduler-border {
        border: 1px solid #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

legend.scheduler-border {
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}

.custom0text {
    font-size: 24px;
    position: relative;
    top: -18px;
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
}

#table-container {
    padding-top: 24px;
    display: inline-block;
    overflow-x: auto;
    white-space: nowrap;
}
